:root {
  /* Main Colors */
  --main-black: #0f0f0f;
  --main-white: #fefefe;

  /* Shades of Grey */
  --grey-darkest: #333333;
  --grey-darker: #4d4d4d;
  --grey-dark: #808080;
  --grey: #cccccc;
  --grey-light: #c7c7c7;
  --grey-lighter: #e0e0e0;

  --black-lighter: #2a2a2a;

  /* Blues */
  --main-blue: #dee7ff;

  /* Additional Color */
  --accent-red: #fd443a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-medium {
  font-size: 16px;
}

.text-regular {
  font-size: 18px;
}

.font-medium {
  font-weight: 400;
}

.font-semibold {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  border-bottom: 1px solid var(--grey-darker);
  box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.25);
  background-color: var(--main-black);
  width: 100%;
}

.nav-btn {
  border: none;
  font-weight: 700;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

h1 {
  font-size: 24.6px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--main-white);
  letter-spacing: 2px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
}

.chevronDown {
  color: var(--grey-dark);
  margin-top: 2px;
}

.profileIcon {
  color: var(--grey-dark);
  width: 40px;
  height: 30px;
}

main {
  background-color: var(--main-black);
  padding: 40px 80px;
  min-height: 100vh;
  min-width: fit-content;
}

h2 {
  color: var(--main-white);
  font-weight: 300;
}

.question-card {
  width: 80%;
  padding: 16px 32px;
  margin: 30px auto;
  border-radius: 4px;
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 840px;
}

.question-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black-lighter);
}

.tagsArrayDiv {
  display: flex;
  gap: 18px;
}

.tags-btn {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 500;
  border: none;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

.answer-card {
  width: 80%;
  padding: 16px 32px;
  margin: 30px auto;
  border-radius: 4px;
  background-color: var(--main-blue);
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 840px;
}

.answer-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 748px;
}

.answer-comment-field {
  width: 478px;
  height: 34px;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid var(--main-black);
  outline: none;
}

.answer-comment-field::placeholder {
  color: var(--grey-light);
}

.post-btn {
  border: 1px solid var(--main-black);
}

.fab-button-mob {
  display: none;
}

.dimmed {
  opacity: 0.1;
}

.feedback-container {
  opacity: 1 !important;
  position: fixed;
  right: 32px;
  bottom: 32px;
  cursor: pointer;
  align-items: center;
  padding-top: 32px;
  z-index: 1000;
}

.feedback-vertical {
  display: flex;
  flex-direction: column;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  transform: scale(0);
  opacity: 0;
}

.feedback-vertical-open {
  transform: scale(1);
  opacity: 1;
  margin-bottom: 10px;
}

.feedback-label {
  padding: 8px 16px;
  background-color: var(--main-white);
  color: var(--main-black);
  border-radius: 4px;
}

.feedback-icon-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;
}

.feedback-horizontal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
}

.feedback-form-container {
  max-width: 430px;
  padding: 24px 16px;
  border-radius: 4px;
  background-color: var(--main-white);
}

.feedback-form-header {
  padding: 0px 36px 24px;
  text-align: center;
  border-bottom: 1px solid var(--grey);
  font-weight: 600;
  color: var(--grey-darker);
  font-size: 20px;
}

.feedback-form-fields {
  margin: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.feedback-form-fields > .label-input-div > label {
  color: var(--grey-darker);
  font-size: 18px;
  font-weight: 500;
}

.feedback-form-fields select,
.feedback-form-fields input,
.feedback-form-fields textarea {
  width: 100%;
  border-radius: 8px;
  padding: 12px 16px;
  outline: none;
  border: none;
  background-color: var(--grey-lighter);
}

.feedback-form-fields .text-plus-attach textarea {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.feedback-form-fields select::placeholder,
.feedback-form-fields input::placeholder,
.feedback-form-fields textarea::placeholder {
  font-size: 18px;
  color: var(--grey-dark);
}

.feedback-form-fields .label-input-div input[type="text"],
.feedback-form-fields .label-input-div input[type="email"],
.feedback-form-fields .label-input-div input[type="number"] {
  height: 36px;
}

input[type="file"] {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.feedback-form-fields .label-input-div select {
  height: 48px;
}

.feedback-form-fields .label-input-div textarea {
  height: 120px;
}

.label-input-div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-button {
  padding: 10px 20px;
  border: none;
  background-color: var(--main-black);
  color: var(--main-white);
  font-size: 20px;
  font-weight: 600;
}

.form-button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.form-btn-container {
  text-align: right;
}

.mandatory-sign {
  color: var(--accent-red);
}

.checkbox-div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: var(--grey-darker);
}

.checkbox-div > input {
  border: 2px solid var(--grey-dark);
}

.dialog-box {
  position: absolute;
  bottom: 100px;
  right: 10px;
  min-width: 400px;
  padding: 12px 16px;
  background-color: var(--main-white);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}

.dialog-box-pointer {
  position: absolute;
  bottom: -10px;
  right: 20px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--main-white);
  border-top-color: inherit;
  color: var(--main-white);
}

.horizontal-icon {
  position: relative;
  display: inline-block;
}

.horizontal-icon::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: 0px;
  bottom: 6px;
  border: 2px solid var(--grey-dark);
  border-radius: 50%;
  pointer-events: none;
}

.question-mob {
  display: none;
}

.answers-mobile {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    align-items: center;
    padding: 10px;
  }

  h1 {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 400;
  }

  .nav-links {
    display: none;
  }

  .profileIcon {
    color: var(--grey-dark);
    width: 30px;
    height: 10px;
  }

  main {
    padding: 10px;
  }

  .answers-desktop {
    display: none;
  }

  .answers-mobile {
    display: flex;
    flex-direction: column;
  }

  .answers-mobile > h2 {
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    margin-bottom: 15px;
  }

  .filter-list {
    width: 100%;
    height: 36px;
    background-color: var(--grey);
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    font-size: 10px;
  }

  .mob-desc {
    color: var(--main-white);
    display: flex;
    margin-bottom: 10px;
  }

  .filter-btn {
    border: none;
  }

  .question-mob {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-white);
    border-radius: 8px;
    margin: 10px auto;
    gap: 10px;
  }

  .question-mob-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
  }

  .question-mob-question {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .question-mob-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 20px;
    border: none;
  }

  .question-mob-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fab-button {
    display: none;
  }

  .fab-button-mob {
    display: block;
  }

  .feedback-container {
    right: 34px;
    bottom: 24px;
    z-index: 1000;
  }

  .option-selected {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: -20px auto;
    max-height: 100vh;
  }

  .feedback-icon-container {
    margin: 10px 0;
  }

  .feedback-vertical-icon {
    width: 48px;
    height: 48px;
  }

  .feedback-vertical-open {
    padding: 10px;
    border-radius: 12px;
  }

  .feedback-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .feedback-label {
    padding: 4px 12px;
    background-color: var(--main-black);
    color: var(--main-white);
  }

  .feedback-form-container {
    padding-bottom: 32px;
    padding-top: 10px;
    padding-right: 32px;
    padding-left: 32px;
  }

  .feedback-form-header {
    padding: 0px;
    font-size: 18px;
    margin-bottom: 0;
  }

  .feedback-form-fields > .label-input-div > label {
    font-size: 14px;
  }

  .feedback-form-fields select::placeholder,
  .feedback-form-fields input::placeholder,
  .feedback-form-fields textarea::placeholder {
    font-size: 16px;
  }

  .form-button {
    font-size: 18px;
  }

  .checkbox-div {
    font-size: 14px;
  }

  .dialog-box {
    top: -180px;
    min-width: 200px;
    padding: 12px 16px;
    font-size: 16px;
    height: 200px;
    border: 3px solid var(--main-black);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .dialog-box-pointer {
    right: 10px;
  }

  .horizontal-icon::after {
    border: 2px solid var(--main-black);
  }
}
