:root {
  /* Main Colors */
  --main-black: #0f0f0f;
  --main-white: #fefefe;

  /* Shades of Grey */
  --grey-darkest: #333333;
  --grey-darker: #4d4d4d;
  --grey-dark: #808080;
  --grey: #cccccc;
  --grey-light: #c7c7c7;
  --grey-lighter: #e0e0e0;

  --black-lighter: #2a2a2a;

  /* Additional Color */
  --accent-red: #fd443a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  border-bottom: 1px solid var(--grey-darker);
  box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.25);
  background-color: var(--main-black);
}

h1 {
  font-size: 24.6px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--main-white);
  letter-spacing: 2px;
}

.navbar-right {
  display: flex;
  gap: 20px;
  font-weight: 500;
}

.chevronDown {
  color: var(--grey-dark);
  margin-top: 2px;
}

.profileIcon {
  color: var(--grey-dark);
  width: 40px;
  height: 30px;
}

main {
  background-color: var(--main-black);
  padding: 40px 80px;
  min-height: 100vh;
}

h2 {
  color: var(--main-white);
  font-weight: 300;
}

.question-card {
  width: 80%;
  padding: 16px 32px;
  margin: 30px auto;
  border-radius: 4px;
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.question-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black-lighter);
}

.tagsArrayDiv {
  display: flex;
  gap: 18px;
}

.tags-btn {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}
